<%= stylesheet_link_tag "colorbox.css", :media=> "screen" %>
<%= javascript_include_tag "jquery.colorbox.js"%>
<% content_for :flood_tag do %>
  <!--
  Start of DoubleClick Floodlight Tag: Please do not remove
  Activity name of this tag: HelpRx Free Card Page (Standard)
  URL of the webpage where the tag is expected to be placed: http://www.helprx.info/email/new-sign-up
  This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
  Creation Date: 05/31/2012
  -->
  <script type="text/javascript">
  var axel = Math.random() + "";
  var a = axel * 10000000000000;
  document.write('<iframe src="https://fls.doubleclick.net/activityi;src=3488012;type=helpr182;cat=helpr661;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
  </script>
  <noscript>
  <iframe src="https://fls.doubleclick.net/activityi;src=3488012;type=helpr182;cat=helpr661;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
  </noscript>

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
 <% end %>
<script>
		 jQuery(document).ready(function() {
				jQuery("#free_card").validationEngine({scroll:false,inlineValidation:false});
                                jQuery("#footer-new").css("background-image","url(/assets/borrder_shade.png)")
                                jQuery("#footer-new").css("clear","both")
                                jQuery("#footer-new").css("margin-left","20px")
                                jQuery("#footer-new").css("padding-left","9px")
                                jQuery("#footer-new").css("padding-right","10px")
                                jQuery("#footer-new").css("width","896px")
			});
		</script>
<script type="text/javascript">
function focus(){
var highlight=document.getElementById('firstname');
highlight.focus();
}

window.moveTo(0,0);
window.resizeTo(screen.availWidth,screen.availHeight);
</script>
<%= stylesheet_link_tag "css/landing.css", :media => "all" %>

 <style>
   div#middle{
     background: none
}
   div#topmenu ul li {padding-right:18px;}
   div.rapidxwpr {
     background: none;
     padding-top: 25px;
}
   #main_landing{
  margin-top: -16px;
}

 </style>
<% if !@path.blank? && @path == "/helprx-sign-up" %>
 <img src="https://www.emjcd.com/u?CID=1523507&OID=<%=Time.now().to_i%>&TYPE=352246&ITEM1=conversion&AMT1=0&QTY1=1&CURRENCY=USD&METHOD=IMG" height="1" width="20">
<% end %>
 <div class="mboxDefault"></div> 
 <script type="text/javascript"> mboxCreate('helprx_regForm_top_<%=$ttenv%>'); </script>
<!-- wrapper -->
<div>
  <div class="nav_outer_div">
    <div id="nav_outer_div1">
    <span>Get a FREE RxRelief discount card</span>
      <ul>
        <li>Good on over 50,000 medications</li>
        <li>Honored at over 50,000 pharmacies</li>
        <li>It's ABSOLUTELY FREE - we'll never charge you</li>
        <li>Free digital card so you can start saving now</li>
      </ul>
    </div>
    <div class="nav_middle_div">
      <div class="nav_inner_div">
        <%= form_for @transferred_datum , :html  =>{:id => 'free_card', :name => 'transferred_data'} do |f| %>
		<input type="hidden" name="source" id="source" value="<%=@source%>">
          <div class="nav_form_title">
            Enter your address below
          </div>
          <div class="form_item">
            <span><label for="first_name">First Name*</label>
              <%= f.text_field :firstname ,:id=>"firstname", :class=>"validate[required]" %></span>
          </div>

          <div class="form_item">
            <span><label for="last_name">Last Name*</label>
              <%= f.text_field :lastname ,:id=>"lastname", :class=>"validate[required]" %>
            </span>
          </div>

          <div class="form_item">
            <span><label for="email">E-mail*</label>
              <%= f.text_field :email ,:id=>"email", :class=>"validate[custom[email]]" %>
            </span>
          </div>

          <div class="form_item">
            <span><label for="address_one">Address 1*</label>
              <%= f.text_field :address1 ,:id=>"address1", :class=>"validate[required]" %>
            </span>
          </div>

          <div class="form_item">
            <span><label for="address_two">Address 2</label>
              <%= f.text_field :address2 ,:id=>"address2" %>
            </span>
          </div>

          <div class="form_item">
            <span><label for="city">City*</label>
              <%= f.text_field :city ,:id=>"city", :class=>"validate[required]" %>
            </span>
          </div>

          <div class="form_item">
            <span><label for="state">State*</label>
              <select name="transferred_datum[state]" id="state"  class="validate[required]">
                <option value="">Please select a state</option>
                <% $states.each do |k,v| %>
                  <option value="<%=k%>"><%=v%></option>
                <% end %>
              </select>

            </span>
          </div>

          <div class="form_item">
            <span><label for="zip">Zip*</label>
              <%= f.text_field :zip ,:id=>"zip", :class=>"validate[required]" %>
            </span>
          </div>


          <!-- custom code for search -->
          <input name="transferred_datum[source_id]" type="hidden" value="<%= cookies[:hlprx_utm_source] %>" />
          <input name="transferred_datum[userinfo_id]" type="hidden" value="<%= params[:u] if !params[:u].blank? %>" />
          <input name="transferred_datum[groupno]" type="hidden" value="<%=$GRP%>" />
          <input name="transferred_datum[partner]" type="hidden" value="<%= cookies[:hlprx_utm_source] %>" />
          <input name="transferred_datum[url]" type="hidden" value="<%= request.referer %>" />
          <input name="transferred_datum[path]" type="hidden" value="<%= request.url %>" />
          <input name="transferred_datum[subsource]" type="hidden" value="<%= cookies[:hlprx_utm_subsource]%>" />
          <input name="transferred_datum[creative]" type="hidden" value="<%= cookies[:hlprx_utm_creative]%>" />
          <input type="hidden" name="transferred_datum[remote_ip]" value="<%=request.env['REMOTE_ADDR']%>" />
          <% if params[:sourceid] %>
            <input type="hidden" name="sourceid" value="<%=params[:sourceid]%>" />
          <% end %>
          <% if !@m.blank?  %>
            <input type="hidden" name="transferred_datum[current_prescription]" value="<%= @m %>"/>
          <% end %>

          <p align="center"><input type="image" src="/assets/buttons/finish_btn.png" id="finish"></p>
        <% end %>

      </div>
    </div>
  </div>
  <div>
    <table class="nav_bottom_table">
      <tr>
        <td valign="top" style="padding-right: 8px;">Accepted at:
          <table>
            <tr>
              <td style=" padding-right: 10px;"><%= image_tag("/assets/logo_new_nav.png") %></td>
            </tr>
            <tr>
              <td>
                Plus thousands more, including your neighborhood pharmacy
              </td>
            </tr>
            <tr>
              <td>
                Find yours!<span>&nbsp;&nbsp;&nbsp;<%= link_to "Pharmacy lookup tool", "#{$locator_path}",:style=>"color:#8DACD8;text-decoration:underline", :class => "colorbox" %></span>
              </td>
            </tr>
          </table>
        </td>
        <td style="padding-right: 23px;"><%= image_tag("/assets/bottom_divider.png") %></td>
        <td valign="top" style="padding-left: 6px;">Watch our video:
          <table>
            <tr>
              <td><%= link_to image_tag("/assets/youtube_image.png"), "http://www.youtube.com/embed/HGtRKTZ3MP4?rel=0&amp;wmode=transparent", :class => "youtube" %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>



<!-- pixels added 11/15/2011 for Brandt at MySavings -->
<script src="http://partners.mysavings.com/lead_third/310/OPTIONAL_INFORMATION"></script>
<noscript><img src="http://partners.mysavings.com/track_lead/310/OPTIONAL_INFORMATION"></noscript>


<!-- pixels added 11/15/2011 for Pulpo Exact Drive and Pulse 360 Rob and Jesse -->
<iframe id='pm_tracker_11110222398' name='pm_tracker_11110222398' src='http://t1.tentaculos.net/iframe/11110222398/_PM_STATUS,1/cb,313433' framespacing='0' frameborder='no' scrolling='no' width='0' height='0'><div id='pm_tracker_i_11110222398' style='position: absolute; left: 0px; top: 0px; visibility: hidden;'><img src='http://t1.tentaculos.net/image/11110222398/_PM_STATUS,1/cb,313433' width='0' height='0' alt='' /></div></iframe>

<!-- Conversion Pixel - KeyReactions - conversion - DO NOT MODIFY -->
<script src="http://ads.exactdrive.com/px?id=24420&t=1" type="text/javascript"></script><!-- End of Conversion Pixel -->

<img src="http://link.p0.com/1x1c.dyn?p=74VXKA93" width=0 height=0>

<!-- pixels added 11/03/2011 for Rob and Jesse -->
<!-- 7Search Code for Conversion Page (start) -->
<script language="JavaScript" type="text/javascript">
var _7search_conversion_advid = 178230;
var _7search_conversion_type = "purchase";
var _7search_conversion_value = 1;
</script>
<script language="JavaScript" type="text/javascript" src="http://conversion.7search.com/conversion/v1/conversion.js"></script>
<noscript><img width="1" height="1" border="0" src="http://conversion.7search.com/conversion/v1/?advid=178230&urlid=&type=purchase&value=1&noscript=1" /></noscript>
<!-- 7Search Code for Conversion Page (end) -->

<!--- pixel added 9/7/11 for Andrew Yahoo -->
<!-- Advertiser 'Loeb Enterprises, LLC',  Conversion tracking 'YourRx_PrintConversionPixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="https://ad.yieldmanager.com/pixel?id=1325187&t=2" width="1" height="1" />
<!-- End of conversion tag -->

<script type="text/javascript">
document.getElementById('firstname').focus();
$(document).ready(function() {
       if (!$.fn.colorbox) return;
          $(".colorbox").colorbox({
          "iframe": true,
          "fastIframe": false,
          "innerWidth": 970,
          "innerHeight": 535,
          "opacity": 0.8,
          "scrolling": false,
          "onComplete": function() {
            var iframe = $("iframe.cboxIframe"),
            body = iframe.contents().find("body"),
            floatStyle = body.css("float");
            body.css("float", "left");
            $.colorbox.resize({ "innerWidth":  iframe.contents().width(), "innerHeight": iframe.contents().height() })
            body.css("float", floatStyle);
           }
          });
		  $(".youtube").colorbox({
          "iframe": true,
          "fastIframe": false,
          "innerWidth": 435,
          "innerHeight": 354
          });
		  
		  
    });
</script>
