<%= stylesheet_link_tag "colorbox.css", :media=> "screen" %>
<%= javascript_include_tag "jquery.colorbox.js"%>
<% content_for :flood_tag do %>
     <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: HelpRx Address Thank You (Standard)
    URL of the webpage where the tag is expected to be placed: http://www.helprx.info//transferred_data/
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 04/16/2012
    -->
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://fls.doubleclick.net/activityi;src=3488012;type=addre138;cat=helpr896;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://fls.doubleclick.net/activityi;src=3488012;type=addre138;cat=helpr896;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
  <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
  <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: HelpRx Address Thank You (Unique)
    URL of the webpage where the tag is expected to be placed: http://helprx.info/transferred_data
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 05/23/2012
    -->
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://fls.doubleclick.net/activityi;src=3488012;type=addre138;cat=helpr653;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://fls.doubleclick.net/activityi;src=3488012;type=addre138;cat=helpr653;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>

    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
	<!--
	    Start of DoubleClick Floodlight Tag: Please do not remove
	    Activity name of this tag: HelpRx Address Thanks II (Sales)
	    URL of the webpage where the tag is expected to be placed: http://www.helprx.info/transferred_data
	    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
	    Creation Date: 04/24/2012
      -->
      <iframe src="https://fls.doubleclick.net/activityi;src=3488012;type=helprx;cat=helpr400;qty=1;cost=1.5;ord=<%=@userinfo.id%>?" width="1" height="1" frameborder="0" style="display:none"></iframe>

      <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
<% end %>
<%= stylesheet_link_tag    "css/thankyou.css", :media => "all" %>

<div class="mboxDefault"></div>
<script type="text/javascript">mboxCreate('regConfirm_<%=$ttenv%>',orderTotal='1', orderId='<%=@usernumber%>', productPurchasedId='<%= @userinfo.rx || "" %>');
</script>

<style>
    div#topmenu ul li {
        padding-right: 18px;
    }

    div#middle {
        background: none;
    }

    div.rapidxwpr {
        background: none;
        padding-top: 25px;
    }

    #main_landing {
        margin-top: -16px;
    }

    .send_card {
        text-decoration: underline;
        color: #2b9e35;
        font-size: 15px;
    }

</style>
  <!-- middle inner container - background bg -->
	<div id="middle_inner_container">

		<!-- middle inner -->
		<div id="middle_inner">

		<!-- main and form -->
	  	  <div id="main_landing" class="thankyou">


				<div id="print_card">
				<center><a href="javascript:window.print()">Print Your Temporary Card <img id="printer" src="/assets/thankyou/printer.png" ALIGN="right" /></a></center>
				</div>
                <div class="sub_heading">
                  We have received your card request.You will receive your welcome kit within 10-14 business days.<br/>
                  In the meantime, your temporary card is below and is pre-activated. <span style="margin-top:400px;font-size: 14px;font-weight: bold" align="center" class="blue_pharm"><a href="javascript:window.print()">Print your card now</a></span>
                </div>

				<br />

              <div style="margin-left: 15px;">

                <img class="pharm_card_image" src="/assets/thankyou/pharm_card.png"/>

                <div class="pharm_card">
                  <div class="pharm_card_info">
                    <table>
                      <tbody>
                      <tr>
                        <td valign="top" class="member_id_label" rowspan="3">Member Identification
                          Number<br/><span class="member_id"><%= @usernumber %></span></td>
                        <td style="width:200px">
                          <span class="member_info">BIN:</span><span class="member_info_value">&nbsp;&nbsp;<%= @bin %></span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="member_info">GRP:</span>
                          <span class="member_info_value">&nbsp;<%= @groupno %></span></td>
                      </tr>
                      <tr>
                        <td>
                          <span class="member_info">PCN:</span><span class="member_info_value">&nbsp;&nbsp;<%= @pcn %></span>
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="print_button"> <img src="/assets/thankyou/print.jpg" style="cursor:pointer;" onclick="javascript:window.print()"/></div>
				<br />
		  </div>

		    <!-- / main landing -->
          <div style="margin-left: 15px;">
            <p class="p_header"> You can also:</p>
            <!-- Include these scripts to import address books with CloudSponge -->
            <table class="email_buttons">
              <tr>
                <td><%= link_to 'Share cards by email', "/invite_friends?id=#{params[:id]}", :class=>"send_card" %></td>
                <td style="padding-left: 33px;">&nbsp;&nbsp;Select this option to tell your friends and family about the card.</td>
              </tr>
              <tr>
                <td><%= link_to "Send cards to family/friends", "/send_card_to_family?id=#{params[:id]}", :class => "fancybox_email_family send_card" %></td>
                <td style="padding-left: 33px;">&nbsp;&nbsp;Send cards for FREE to your family and friends!</td>
              </tr>
              <tr>
                <td><%#= link_to image_tag("/assets/send-to-phone.png"),"/send_to_phone" %></td>
                <!--<td>We'll send you your codes via SMS to your phone</td>-->
              </tr>
            </table>
            <!-- Any link with a class="cs_import" will start the import process -->
            <!-- This textarea will be populated with the contacts returned by CloudSponge -->
          </div>
          <script type="text/javascript">
              $('a.fancybox_email_family').colorbox({
                  "iframe": true,
                  "fastIframe": false,
                  "innerWidth": 510,
                  "innerHeight": 694,
                  "opacity": 0.8,
                  "scrolling": false,
                  "returnFocus": false,
                  "onComplete": function() {
                      var iframe = $("iframe.cboxIframe"),
                              body = iframe.contents().find("body"),
                              floatStyle = body.css("float");
                      body.css("float", "left");
                      body.css("float", floatStyle);
                  }
              });
          </script>

    <% if cookies[:helprx_adquire].blank?%>

             <hr/>
            <div style="margin-left:15px;width:807px;">
                <h4 class="dark_blue_pharm">What To Do When You Receive Your Plastic Card:</h4>
              <br />

              <p>You'll receive your plastic card within 10 business days (your temporary card is above). Included as a special bonus, we're going to include a second pharmacy discount card, also entirely free. Please feel free to keep this as a spare card or share it with a loved one. Don't forget to put the card in your wallet or some other safe place.	</p>

              <p><b>Step 1: Put it in your wallet!</b></p>

              <p><b>Step 2: Give it to your pharmacist the next time you fill a prescription.</b></p>

              <p><b>Step 3: Save up to 75% on your prescriptions</b></p>
            </div>
    <%end%>
<img src="http://link.p0.com/1x1c.dyn?p=74VXKALN" width=0 height=0/>

<!--- 9/7/11 pixel for Andrew Yahoo --->
<!-- Advertiser 'Loeb Enterprises, LLC',  Conversion tracking 'YourRx_CardConversionPixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="https://ad.yieldmanager.com/pixel?id=1325201&t=2" width="1" height="1" />
<!-- End of conversion tag -->
<%if !cookies[:helprx_adquire].blank?%>
<hr/>
<br/>
<h4>Want more savings? Check out our partner offers:</h4>
<style>
h4{
  margin-left:15px;
  padding-bottom:10px;
}
#PD_OuterContainer{
  margin-left:15px;
  padding-bottom:10px;
  width:807px;
}
</style>
<!-- START: AdQuire Inline, Permission Data -->
	<script type="text/javascript">
		var PDregData = {};
		
		// User Key
		// This can be used to uniquely identify users, helping a better offer targeting. If you wish to use it, pass whatever user id or hash you have, and notify us to enable user recognition.
		PDregData.pub_key    = "User-<%=@userinfo.id%>";
		
		// Source Tracking
		// This submarketing ID can be used to identify the origin of your traffic into our reports in case you want to track several ad units.
		PDregData.SubMid     = 'Helprxinfo!';
		
		// Exit URL
		// When AdQuire finishes, the user will be redirected to this URL. If you don't want such behavior, simply delete the line or comment it out.
		PDregData.exit_url = "<%=$BASE_URL%>";
		
		// IMPORTANT CUSTOMIZATION NOTE:
		//   The following fields can be setup to put your customer's information
		//   Those fields which you don't have, can be commented out or simply deleted, but DO NOT go live with them unchanged!
		PDregData.first_name = '<%=@userinfo.firstname%>';               // First name
		PDregData.last_name  = '<%=@userinfo.lastname%>';         // Last name
		//PDregData.gender     = "M";                  // Gender: M=Male / F=Female
		//PDregData.dob        = "02-28-1965";         // Date of birth: MM-DD-YYYY (Use 01-01-YYYY if only YYYY is available)
		PDregData.address1   = '<%=@userinfo.address1%>';        // Address line 1
		PDregData.address2   = '<%=@userinfo.address2%>';             // Address line 2
		PDregData.city       = '<%=@userinfo.city%>';         // City
		PDregData.state      = '<%=@userinfo.state%>';                 // State code: 2 letters
		PDregData.zipcode    = '<%=@userinfo.zip%>';              // ZIP code: 5 digits
		PDregData.phone1     = '<%=@userinfo.mobile_number.split('-')[0] if @userinfo.mobile_number%>';                // Phone, area code: 3 digits
	    PDregData.phone2    = '<%=@userinfo.mobile_number.split('-')[1] if @userinfo.mobile_number%>';                // Phone, central code: 3 digits
		PDregData.phone3     = '<%=@userinfo.mobile_number.split('-')[2] if @userinfo.mobile_number%>';               // Phone, number: 4 digits
		PDregData.email      = '<%=@userinfo.email%>'; // Email

	</script>
	
	<!-- The following URL is a protocol-less relative URL which will work both with and without SSL, JUST CHANGE siteXXX accordingly -->
	<script id="PD_Script_Configs" type="text/javascript" src="//www.pdapi.com/cs/JSI/v1/LE1/PDconfigs.js"></script>
<!-- END: AdQuire Inline, Permission Data -->
<%end%>
            </div>
        </div>
