<!DOCTYPE html>
<html>
    <head>
        <title><%= @page_title || "HelpRx.info - Online Pharmacy Discounts" %></title>
        <link rel='stylesheet' type='text/css' href='/assets/healthcare.css' />        
        <%= stylesheet_link_tag    "css/smoothness/jquery-ui-1.8.1.custom.css","css/jquery.autocomplete.css","css/validationEngine.jquery.css", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "js/jquery-ui-1.8.1.custom.min.js","js/jquery.validationEngine-en.js", "js/jquery.validationEngine.js","jquery.rating.js", "jquery.easing.1.3.min.js"%>
        <%= javascript_include_tag "main.js" %>
        <%= csrf_meta_tags %>
        <!--[if IE 6]>
           <script type="text/javascript" src="/assets/ie6png/ie6pngfix.js"></script>
            <script type="text/javascript">
              DD_belatedPNG.fix('img, ul, ol, li, div, p, a, h1, h2, h3, h4, h5, h6, span, input, textarea, td');

            </script>
         <![endif]-->
        <link rel="icon" href="/favicon.ico" />
        <%= render :partial => 'layouts/google_analytics'%>
        <link rel="stylesheet" type="text/css" href="/assets/sliderkit-core.css" media="all" />
        <script type="text/javascript" src="/assets/js/jquery_1_4.js"></script>
        <script type="text/javascript" src="/assets/jquery.sliderkit.1.8.js"></script>
        <script type="text/javascript">
          $(window).load(function(){
            $(".photoslider-1click").sliderkit(
              {
                auto:true,
                autospeed:3000,
                panelbtnshover:false,
                circular:true,
                fastchange:false
              }
            );
          });
         </script>
    </head>
    <body style="margin:auto;">

    <%= yield :flood_tag %>
    <%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <br/>
    <br/>
        <div id="page_container">
      <div class="rapidxwpr">
            <header id="header">
        <%= render '/refinery/header' -%>
      </header>
              <!-- main body -->
              <div id="middle" style="margin-left: -60px;">
             <section id="page">
        <%#= yield %>
<%= yield.dup.force_encoding(Encoding::UTF_8) %>
      </section>

      </div>
      <footer>
        <%= render '/refinery/footer' %>
      </footer>
      </div>
      </div>
    </body>
</html>
